<div appCustomDirective>
    <h1>Hover Mee</h1>
</div><hr>
<div>
    <h1>Performing custom input binding directive</h1>
    <input [(ngModel)] = "fontsize" >
    <p [appCustomDirective]="fontsize">This text has a font size of 24px.</p>
    <h2 [appCustomDirective]="'26px'">This heading has a font size of 26px.</h2>
</div><hr>

     <!-- <div *appCustomStructuralDirective="showContent">
      Submit button is clicked
    </div>
    <button (click)="toggleContent()">Submit</button>
 -->

 <h1>Angular Lifecycle Demo</h1>
 <router-outlet></router-outlet>
